*{
    box-sizing: border-box;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    transition: all .2s;
}

body{
    padding: 0;
    margin: 0;
    text-align: center;
    height: 100vh;

    background-color: #31363F;
    color: #EEEEEE;
}
main{
    overflow: scroll;
    height: 100%;
}
h1{
    font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.card .a{
    color: #76ABAE;
    width: 100%;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: end;
}
.card a{
    color: #76ABAE;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    overflow: hidden;
    transition: all .1s !important;
}
.card a:hover{
    background-color: #76ABAE;
    color: #222831;
}
.card a svg{
    width: 20px;
    height: 20px;
    transition: all .1s !important;
}
main, .container, .lock{
    height: 100vh;
    overflow: scroll;
}
.lock{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

input, button{
    display: block;
    margin: 10px auto;
    border-radius: 7px;
    font-size: 18px;
    padding: 6px 8px;
    border: 1px solid gray;
    outline: none;
}
input{
    background-color: #31363F;
}
input:focus{
    background-color: #76ABAE;
    color: #EEEEEE;
    &::placeholder{
        color: #EEEEEE;
    }
}

button{
    background-color: #76ABAE;
    color: #EEEEEE;
    font-weight: bold;
    border: none;
    overflow: hidden;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_loading{
    background-color: #222831;
    border: 1px solid  #76ABAE;
}
.card{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #222831;
    border-radius: 1rem;
    width:90%;
    margin: auto;
    padding: 20px;
    max-width: 400px;
    max-height: max-content;
    min-height: max-content;
    overflow: scroll;
    display: block;
}

button img{
    max-width: 30px;
}

button .doneGif{
    max-width: 80%;
}

button svg{
    color: red;
}